//Colors

$font-color-section: rgba(0, 0, 0, 0.7);
$font-color-meals: rgba(34, 176, 195, 0.7);
$font-color-ingested: rgb(200, 200, 200);
$font-color-product: rgb(139, 139, 139);
$font-color-error: rgb(214, 0, 0);

$bg-color-section: rgba(224, 224, 224, 0.74);
$bg-color-section2: linear-gradient(to right, rgba(255, 255, 255, 0.9) , rgba(222, 222, 222, 0.9));
$bg-color-meals: rgba(238, 238, 238, 0.4);

$btn-color-hover: rgba(34, 176, 195, 0.9);
$icon-color-meals: rgb(224, 66, 17);
$icon-color-toggle: rgba(34, 176, 195, 0.7);




//Fonty
@font-face {
    font-family: 'Coming Soon';
    src: url('fonts/ComingSoon-Regular.woff2') format('woff2'),
        url('fonts/ComingSoon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gloria Hallelujah';
    src: url('fonts/GloriaHallelujah.woff2') format('woff2'),
        url('fonts/GloriaHallelujah.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Marmelad';
    src: url('fonts/Marmelad-Regular.woff2') format('woff2'),
        url('fonts/Marmelad-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-family-logo: 'Gloria Hallelujah', cursive;
$font-family-meal: 'Coming Soon', cursive;
$font-family-title-section: 'Marmelad', sans-serif;
