.slider {
    margin: 0 auto;
    max-width: 1000px;
    overflow-y: hidden;
    transition: max-height .7s ease-in-out;
    height: auto;
}

.products {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    table {
        width: 100%;

        td,
        th {
            text-align: center;
            padding: .5em;
        }

        th {
            font-family: $font-family-title-section;
            font-size: 0.6rem;
            color: $font-color-ingested;
        }

        td {
            font-family: $font-family-title-section;
            font-size: 0.8rem;
            color: $font-color-product;
            &:nth-of-type(1) {
                font-size: 1.2rem;
                padding: 0.5rem;
                color: $font-color-meals;
                transition: 0.5s;

                &:active,
                &:hover {
                    color: $icon-color-meals;
                    cursor: pointer;

                    & ~ td {
                        color: $icon-color-meals;
                    }
                }

                &:hover:last-child {
                    cursor: default;
                }
            }
        }

        td.icon-plus {
            &:active,
            &:hover {
                color: $icon-color-meals;
                cursor: pointer;

                & ~ td {
                    border: none;
                    font-size: 0.8rem;
                    color: $font-color-product;
                }
            }
        }

        .summary {
            &:active,
            &:hover {
                cursor: default;
            }
            td {
                font-size: 1rem;
                color: $icon-color-meals;
            }
        }
    }
}
@media (min-width: 720px) {
    .products {
        max-width: 1000px;
        margin: 0 auto;

        table {
            width: 100%;

            td,
            th {
                text-align: center;
                padding: 0.5em;
            }

            th {
                font-size: 1.5rem;
                color: $font-color-product;
            }

            td {
                font-size: 1.5rem;
                color: $font-color-ingested;

                &:nth-of-type(1) {
                    font-size: 2rem;

                    &:active,
                    &:hover {
                        font-size: 3rem;
                    }

                    &:hover:last-child {
                        font-size: 3rem;
                    }
                }
            }

            td.icon-plus {
                &:active,
                &:hover {
                    font-size: 3rem;
                }
            }

            .summary {
                td {
                    font-size: 2rem;
                }
            }
        }
    }
}
