.search {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-content {
    position: relative;
    z-index: 10;
    padding: 1em;
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;

    i {
        transition: 0.2s;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: -17px;
        right: -20px;
        color: $icon-color-meals;
        float: right;
        font-size: 2em;
        box-shadow: 0.3em -0.2em 1em -6px $font-color-product;

        &:hover {
            cursor: pointer;
            font-size: 2.1em;
            text-shadow: 0 0 10px $icon-color-meals;
        }
    }
    box-shadow: 0 0 2em $font-color-product;
}

form {
    padding: 1em;
    width: 100%;
}

input[type=number],
input[type=text] {
    padding: 0.5em;
    border: 1px solid $font-color-meals;
    outline: 0;
    border-radius: 5px;

    &:focus {
        box-shadow: 0 0 1em $font-color-meals;
    }
}

input[type=text] {
    width: 60%;
}

input[type=number] {
    width: 20%;
}

input[type=submit] {
    padding: 0.5em;
    background-color: $font-color-meals;
    border: 1px solid $font-color-meals;
    outline: 0;
    border-radius: 5px;
    width: 20%;

    &:active,
    &:hover {
        cursor: pointer;
        background-color: $btn-color-hover;
    }
}

.search-results {
    table {
        width: 100%;
        th {
            color: $font-color-section;
            font-size: 0.5em;
        }
        td {
            font-size: 0.8rem;
            padding: 0.5em;
            text-align: center;
            width: auto;
            color: $font-color-product;

            &:first-child {
                font-size: 0.8rem;
                color: $icon-color-toggle;
                cursor: pointer;

                &:hover,
                &:hover ~ td {
                    color: $icon-color-meals;
                }
            }
        }
    }
}

.search-error {
    position: absolute;
    left: 10%;
    top: 5px;
    right: 10%;
    z-index: 20;
    border-radius: 1em;

    h1 {
        color: $font-color-error;
        background-color: rgba(255, 255, 255, 0);
        padding: 0;
        font-size: 0.6em;
        text-align: center;
    }
}
@media (min-width: 720px) {
    .search-content {
        width: 60%;
        border-radius: 10px;

        i {
            top: -40px;
            right: -45px;
            font-size: 4em;

            &:hover {
                font-size: 5.1em;
            }
        }
    }

    form {
        margin: 0 auto;
        padding: 2em;
        width: 100%;
    }

    input {
        font-size: 1.2em;
        padding: 1em;
    }

    .search-results {
        table {
            td,
            th {
                font-size: 1em;
            }

            td:first-child {
                font-size: 1em;
            }

            td:first-child:hover {
                font-size: 1.1em;
            }
        }
    }

    .search-error {
        h1 {
            font-size: 1.5em;
        }
    }
}
@media (min-width: 1024px) {
    .search-results {
        table {
            td,
            th {
                font-size: 1.5em;
            }

            td:first-child {
                font-size: 1.5em;
            }

            td:first-child:hover {
                font-size: 1.6em;
            }
        }
    }
}
